* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.container {
    width: 90%;
    background-color: white;
    margin: auto;
}

.slider {
    width: 90%;
    height: 90%;
    overflow: hidden;
    margin: auto;
}

.slides {
    width: 400%;
    display: flex;
}

.slide {
    width: 25%;
}